.wrapper {
  padding: 0 50px;
  display: flex;
}
.wrapper .movie-info {
  width: 70%;
}
.wrapper .movie-info .movie-details {
  width: 35%;
  padding: 20px;
}
.wrapper .movie-info .movie-details img {
  width: 100%;
  height: auto;
}
.wrapper .movie-info .movie-synopsys {
  width: 65%;
  padding: 20px;
}
.wrapper .movie-info h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.wrapper .actors {
  width: 30%;
}

.card {
  width: 100%;
  border: 1px solid gray;
  margin: 20px;
  background-color: white;
  padding: 10px;
  transition: transform 0.3s linear;
}
.card:hover {
  transform: scale(1.02);
}
.card img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
