.wrapper {
    padding: 0 50px;
    display: flex;
    .movie-info {
        width: 70%;
        .movie-details {
            width: 35%;
            padding: 20px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .movie-synopsys {
            width: 65%;
            padding: 20px;
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
    }
    .actors {
        width: 30%;
    }
}

.card {
    width: 100%;
    border: 1px solid gray;
    margin: 20px;
    background-color: white;
    padding: 10px;
    transition: transform 0.3s linear;
    &:hover {
        transform: scale(1.02);
    }
    img {
        width: 100%;
    }
}